html{
    background-color: black
  }
  
@font-face{
    font-family: 'rondo';
    src: url("./fonts/ofont.ru_Rondo\ Calligraphic.ttf");
}


#intro{
    padding-left: 40%;
}

div{
    font-family: 'Helvetica';
}

#tonyapic{
    opacity: 0;
}

.madtohapic{
    float: left;
}

#todealwith{
    font-size: 30px;
    width: 20%;
}

.madtohawishes{
    float: left;
    width: 15%;
    height: auto;
    font-size: 30px;
}